// fuentes//
$fuentePrincipal: Arial,
Helvetica,
sans-serif;
//mediaQueries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
//colores
$primario: #EC2227;
$secundario: #e87c03;
$gris: #323232;
$gris2: #8c8c8c;
$gris3: #454545;
$negro: #000000;
$blanco: white;
$radius:6px;